<?xml version="1.0"?>

<launch>
    <!-- Displaying the Navigation on Rviz -->
    <include file="$(find roboteq_control)/launch/display.launch" />
      <arg default="$(find vinebot_description)/rviz/vinebot_rtabmap_rviz.rviz" name="rvizconfig"/>
  
    <!-- BNO055 IMU launch -->
    <include file="$(find ros_imu_bno055)/launch/imu.launch" />
    
    <!-- ROBOTEQ launch -->
    <include file="$(find roboteq_control)/launch/differential_drive.launch" />
    <!-- Localization (merging odometry+IMU) --> 
    <include file="$(find vinebot_localization)/launch/start_ekf_localization_rtab.launch" />   
    
    <!-- PS4 joystick <include file="$(find ps4_ros)/launch/ps4.launch" /-->
    <include file="$(find realsense2_camera)/launch/opensource_tracking_vinebot_imu.launch" />
        
    


</launch>